{% extends "base.html" %} {% block content %}
<div class="row justify-content-center">
  <div class="col-md-6">
    <h2 data-trans="signup">Sign Up</h2>
    <form method="POST" action="{{ url_for('main.signup') }}">
      {{ form.hidden_tag() }}
      <div class="mb-3">
        {{ form.username.label(class="form-label", data_trans="username") }} {{
        form.username(class="form-control") }}
      </div>
      <div class="mb-3">
        {{ form.email.label(class="form-label", data_trans="email") }} {{
        form.email(class="form-control") }}
      </div>
      <div class="mb-3">
        {{ form.password.label(class="form-label", data_trans="password") }} {{
        form.password(class="form-control") }}
      </div>
      <div class="mb-3">
        {{ form.confirm_password.label(class="form-label",
        data_trans="confirmPassword") }} {{
        form.confirm_password(class="form-control") }}
      </div>
      <button type="submit" class="btn btn-primary" data-trans="signup">
        Sign Up
      </button>
    </form>
  </div>
</div>
{% endblock %}
